<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.falkorichter.usb.rocketLauncher"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-sdk
        android:maxSdkVersion="14"
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/launcher" >
        <activity
            android:name="de.falkorichter.usb.rocketLauncher.MissileLauncherActivity_"
            android:icon="@drawable/launcher"
            android:label="@string/application_name"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
    </application>

</manifest>